<html>

<head>
  <meta charset="UTF-8" />
  <style>
    .sat2_chm_2016_14 .kai {
      font-family: 標楷體;
    }

    .sat2_chm_2016_14 .cnumber {
      list-style-type: cjk-ideographic;
    }

    .sat2_chm_2016_14 .underline {
      text-decoration: underline;
    }

    .sat2_chm_2016_14 .blockquote {
      margin: 0px 0px 0px 30px;
    }

    .sat2_chm_2016_14 .box {
      border: 1px black solid
    }

    .sat2_chm_2016_14 table.table {
      border-collapse: collapse;
    }

    .sat2_chm_2016_14 table.table td,
    th {
      border: 1px solid black;
    }

    .sat2_chm_2016_14 td.right {
      text-align: right;
    }
  </style>
  <script type="text/x-mathjax-config">MathJax.Ajax.config.path["mhchem"] = "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.2.0"; MathJax.Hub.Config({
    extensions: ["[mhchem]/mhchem.js"], TeX: { Macros: { ceec: ["{\\fbox{#1 }}", 1], ceece: ["\\underline{ {\\fbox{#1 }}    }", 1] } } });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <link rel="stylesheet" type="text/css" href="scripts/qtidisplay.css" />
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div class="sat2_chm_2016_14" >

    <p xmlns="http://www.imsglobal.org/xsd/imsqti_v2p1">下列反應是製造氫氣的重要方法之一
      <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" alttext=" \ce{CH4(g) + H2O(g) &lt;=>[\scriptscriptstyle Ni,700K] CO(g) + 3H2(g)} \hspace{0.5cm}\Delta H &lt;0 ">
        <mrow class="MJX-TeXAtom-ORD">
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">C</mi>
            <mi mathvariant="normal">H</mi>
          </mrow>
          <msub>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded width="0">
                  <mphantom>
                    <mi>X</mi>
                  </mphantom>
                </mpadded>
              </mrow>
            </mrow>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded height="0">
                  <mn>4</mn>
                </mpadded>
              </mrow>
            </mrow>
          </msub>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mo>+</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">H</mi>
          </mrow>
          <msub>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded width="0">
                  <mphantom>
                    <mi>X</mi>
                  </mphantom>
                </mpadded>
              </mrow>
            </mrow>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded height="0">
                  <mn>2</mn>
                </mpadded>
              </mrow>
            </mrow>
          </msub>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">O</mi>
          </mrow>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mrow class="MJX-TeXAtom-REL">
            <mover>
              <mrow class="MJX-TeXAtom-REL">
                <mover>
                  <mrow class="MJX-TeXAtom-OP MJX-fixedlimits">
                    <mrow class="MJX-TeXAtom-ORD">
                      <mpadded height="0" depth="0">
                        <mrow class="MJX-TeXAtom-ORD">
                          <mo stretchy="false">↽
                            <!-- ↽ -->
                          </mo>
                        </mrow>
                        <mspace width="negativethinmathspace" />
                        <mspace width="negativethinmathspace" />
                        <mrow class="MJX-TeXAtom-ORD">
                          <mo>−
                            <!-- − -->
                          </mo>
                        </mrow>
                      </mpadded>
                    </mrow>
                  </mrow>
                  <mrow class="MJX-TeXAtom-ORD">
                    <mstyle displaystyle="false" scriptlevel="0">
                      <mrow class="MJX-TeXAtom-ORD">
                        <mo>−
                          <!-- − -->
                        </mo>
                      </mrow>
                      <mspace width="negativethinmathspace" />
                      <mspace width="negativethinmathspace" />
                      <mrow class="MJX-TeXAtom-ORD">
                        <mo stretchy="false">⇀
                          <!-- ⇀ -->
                        </mo>
                      </mrow>
                    </mstyle>
                  </mrow>
                </mover>
              </mrow>
              <mstyle displaystyle="false" scriptlevel="2">
                <mrow class="MJX-TeXAtom-ORD">
                  <mi mathvariant="normal">N</mi>
                  <mi mathvariant="normal">i</mi>
                </mrow>
                <mrow class="MJX-TeXAtom-ORD">
                  <mo>,</mo>
                </mrow>
                <mspace width="0.167em" />
                <mn>700</mn>
                <mspace width="thinmathspace" />
                <mrow class="MJX-TeXAtom-ORD">
                  <mi mathvariant="normal">K</mi>
                </mrow>
              </mstyle>
            </mover>
          </mrow>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">C</mi>
            <mi mathvariant="normal">O</mi>
          </mrow>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mo>+</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mn>3</mn>
          <mspace width="thinmathspace" />
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">H</mi>
          </mrow>
          <msub>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded width="0">
                  <mphantom>
                    <mi>X</mi>
                  </mphantom>
                </mpadded>
              </mrow>
            </mrow>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded height="0">
                  <mn>2</mn>
                </mpadded>
              </mrow>
            </mrow>
          </msub>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
        </mrow>
        <mspace width="0.5cm" />
        <mi mathvariant="normal">Δ
          <!-- Δ -->
        </mi>
        <mi>H</mi>
        <mo>&lt;</mo>
        <mn>0</mn>
      </math>
      當反應達平衡後，若改變此反應的條件，則下列有關反應平衡位置移動的敘述，哪一個正確？
    </p>
    <table id="sat2_chm_2016_14_1">
      <tr>
        <td width="30px"><input type="radio" :value="choiceIds[0]" v-model="value"/></td>
        <td>增加壓力，平衡向產物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="radio" :value="choiceIds[1]" v-model="value" /></td>
        <td>將溫度提高，平衡向反應物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="radio" :value="choiceIds[2]" v-model="value" /></td>
        <td>加入鈍氣，平衡向反應物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="radio" :value="choiceIds[3]" v-model="value" /></td>
        <td>增加 Ni 的量，平衡向反應物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="radio" :value="choiceIds[4]" v-model="value" /></td>
        <td>將
          <math xmlns="http://www.w3.org/1998/Math/MathML" alttext="\ce{H2O(g)}">
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mi mathvariant="normal">H</mi>
              </mrow>
              <msub>
                <mrow class="MJX-TeXAtom-ORD">
                  <mrow class="MJX-TeXAtom-ORD">
                    <mpadded width="0">
                      <mphantom>
                        <mi>X</mi>
                      </mphantom>
                    </mpadded>
                  </mrow>
                </mrow>
                <mrow class="MJX-TeXAtom-ORD">
                  <mrow class="MJX-TeXAtom-ORD">
                    <mpadded height="0">
                      <mn>2</mn>
                    </mpadded>
                  </mrow>
                </mrow>
              </msub>
              <mrow class="MJX-TeXAtom-ORD">
                <mi mathvariant="normal">O</mi>
              </mrow>
              <mspace width="0.111em" />
              <mo stretchy="false">(</mo>
              <mrow class="MJX-TeXAtom-ORD">
                <mi mathvariant="normal">g</mi>
              </mrow>
              <mo stretchy="false">)</mo>
            </mrow>
          </math> 完全移除，不會改變平衡位置</td>
      </tr>
    </table>
    <p xmlns="http://www.imsglobal.org/xsd/imsqti_v2p1">下列反應是製造氫氣的重要方法之二
      <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" alttext=" \ce{CH4(g) + H2O(g) &lt;=>[\scriptscriptstyle Ni,700K] CO(g) + 3H2(g)} \hspace{0.5cm}\Delta H &lt;0 ">
        <mrow class="MJX-TeXAtom-ORD">
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">C</mi>
            <mi mathvariant="normal">H</mi>
          </mrow>
          <msub>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded width="0">
                  <mphantom>
                    <mi>X</mi>
                  </mphantom>
                </mpadded>
              </mrow>
            </mrow>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded height="0">
                  <mn>4</mn>
                </mpadded>
              </mrow>
            </mrow>
          </msub>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mo>+</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">H</mi>
          </mrow>
          <msub>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded width="0">
                  <mphantom>
                    <mi>X</mi>
                  </mphantom>
                </mpadded>
              </mrow>
            </mrow>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded height="0">
                  <mn>2</mn>
                </mpadded>
              </mrow>
            </mrow>
          </msub>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">O</mi>
          </mrow>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mrow class="MJX-TeXAtom-REL">
            <mover>
              <mrow class="MJX-TeXAtom-REL">
                <mover>
                  <mrow class="MJX-TeXAtom-OP MJX-fixedlimits">
                    <mrow class="MJX-TeXAtom-ORD">
                      <mpadded height="0" depth="0">
                        <mrow class="MJX-TeXAtom-ORD">
                          <mo stretchy="false">↽
                            <!-- ↽ -->
                          </mo>
                        </mrow>
                        <mspace width="negativethinmathspace" />
                        <mspace width="negativethinmathspace" />
                        <mrow class="MJX-TeXAtom-ORD">
                          <mo>−
                            <!-- − -->
                          </mo>
                        </mrow>
                      </mpadded>
                    </mrow>
                  </mrow>
                  <mrow class="MJX-TeXAtom-ORD">
                    <mstyle displaystyle="false" scriptlevel="0">
                      <mrow class="MJX-TeXAtom-ORD">
                        <mo>−
                          <!-- − -->
                        </mo>
                      </mrow>
                      <mspace width="negativethinmathspace" />
                      <mspace width="negativethinmathspace" />
                      <mrow class="MJX-TeXAtom-ORD">
                        <mo stretchy="false">⇀
                          <!-- ⇀ -->
                        </mo>
                      </mrow>
                    </mstyle>
                  </mrow>
                </mover>
              </mrow>
              <mstyle displaystyle="false" scriptlevel="2">
                <mrow class="MJX-TeXAtom-ORD">
                  <mi mathvariant="normal">N</mi>
                  <mi mathvariant="normal">i</mi>
                </mrow>
                <mrow class="MJX-TeXAtom-ORD">
                  <mo>,</mo>
                </mrow>
                <mspace width="0.167em" />
                <mn>700</mn>
                <mspace width="thinmathspace" />
                <mrow class="MJX-TeXAtom-ORD">
                  <mi mathvariant="normal">K</mi>
                </mrow>
              </mstyle>
            </mover>
          </mrow>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">C</mi>
            <mi mathvariant="normal">O</mi>
          </mrow>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mo>+</mo>
          <mrow class="MJX-TeXAtom-ORD">

          </mrow>
          <mn>3</mn>
          <mspace width="thinmathspace" />
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">H</mi>
          </mrow>
          <msub>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded width="0">
                  <mphantom>
                    <mi>X</mi>
                  </mphantom>
                </mpadded>
              </mrow>
            </mrow>
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mpadded height="0">
                  <mn>2</mn>
                </mpadded>
              </mrow>
            </mrow>
          </msub>
          <mspace width="0.111em" />
          <mo stretchy="false">(</mo>
          <mrow class="MJX-TeXAtom-ORD">
            <mi mathvariant="normal">g</mi>
          </mrow>
          <mo stretchy="false">)</mo>
        </mrow>
        <mspace width="0.5cm" />
        <mi mathvariant="normal">Δ
          <!-- Δ -->
        </mi>
        <mi>H</mi>
        <mo>&lt;</mo>
        <mn>0</mn>
      </math>
      當反應達平衡後，若改變此反應的條件，則下列有關反應平衡位置移動的敘述，哪一個正確？
    </p>
    <table id="sat2_chm_2016_14_2">
      <tr>
        <td width="30px"><input type="checkbox" :value="choiceIds[0]" v-model="values"/></td>
        <td>增加壓力，平衡向產物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="checkbox" :value="choiceIds[1]" v-model="values" /></td>
        <td>將溫度提高，平衡向反應物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="checkbox" :value="choiceIds[2]" v-model="values" /></td>
        <td>加入鈍氣，平衡向反應物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="checkbox" :value="choiceIds[3]" v-model="values" /></td>
        <td>增加 Ni 的量，平衡向反應物方向移動</td>
      </tr>
      <tr>
        <td width="30px"><input type="checkbox" :value="choiceIds[4]" v-model="values" /></td>
        <td>將
          <math xmlns="http://www.w3.org/1998/Math/MathML" alttext="\ce{H2O(g)}">
            <mrow class="MJX-TeXAtom-ORD">
              <mrow class="MJX-TeXAtom-ORD">
                <mi mathvariant="normal">H</mi>
              </mrow>
              <msub>
                <mrow class="MJX-TeXAtom-ORD">
                  <mrow class="MJX-TeXAtom-ORD">
                    <mpadded width="0">
                      <mphantom>
                        <mi>X</mi>
                      </mphantom>
                    </mpadded>
                  </mrow>
                </mrow>
                <mrow class="MJX-TeXAtom-ORD">
                  <mrow class="MJX-TeXAtom-ORD">
                    <mpadded height="0">
                      <mn>2</mn>
                    </mpadded>
                  </mrow>
                </mrow>
              </msub>
              <mrow class="MJX-TeXAtom-ORD">
                <mi mathvariant="normal">O</mi>
              </mrow>
              <mspace width="0.111em" />
              <mo stretchy="false">(</mo>
              <mrow class="MJX-TeXAtom-ORD">
                <mi mathvariant="normal">g</mi>
              </mrow>
              <mo stretchy="false">)</mo>
            </mrow>
          </math> 完全移除，不會改變平衡位置</td>
      </tr>
    </table>

  </div>
  <script src="scripts/qtidisplay.js"></script>
  <script>
    vm_sat2_chm_2016_14_1=new Vue({
      el:"#sat2_chm_2016_14_1",
      data:{
        identifier:"sat2_chm_2016_14_1",
        choiceIds:[],
        nChoices:5,
        symbols:"ABCDEFGHIJKLMH",
        value:""
      },
      created:function(){
        for (var i=0;i<this.nChoices;i++){
          this.choiceIds.push(this.identifier+"_"+this.symbols[i])
        }
      },
      methods:{
        getResponse(){
          return(this.value)
        }
      }
    })
    vm_sat2_chm_2016_14_2=new Vue({
      el:"#sat2_chm_2016_14_2",
      data:{
        identifier:"sat2_chm_2016_14_2",
        choiceIds:[],
        nChoices:5,
        symbols:"ABCDEFGHIJKLMH",
        values:[]
      },
      created:function(){
        for (var i=0;i<this.nChoices;i++){
          this.choiceIds.push(this.identifier+"_"+this.symbols[i])
        }
      },
      methods:{
        getResponse(){
          return(this.values)
        }
      }
    })
  </script>
</body>

</html>