.kai {font-family:標楷體;}
.cnumber {list-style-type: cjk-ideographic;}
.underline {text-decoration: underline; }
.blockquote{margin:0px 0px 0px 30px;}
.box {border:1px black solid}
table.table{border-collapse: collapse;}
table.table td,th{border: 1px solid black;}
